{% extends 'base/base.html' %}
{% block contents %}

<div class="container">
      <!-- Breadcrumb Start-->
      <ul class="breadcrumb">
        <li><a href="{% url 'home' %}"><i class="fa fa-home"></i></a></li>
        <li><a href="login.html">حساب کاربری</a></li>
        <li><a href="{% url 'login' %}">ورود</a></li>
      </ul>
      <!-- Breadcrumb End-->
      <div class="row">
        <!--Middle Part Start-->
        <div id="content" class="col-sm-9">
          <h1 class="title">حساب کاربری ورود</h1>
          <div class="row">
            <div class="col-sm-6">
              <h2 class="subtitle">مشتری جدید</h2>
              <p><strong>ثبت نام حساب کاربری</strong></p>
              <p>با ایجاد حساب کاربری میتوانید سریعتر خرید کرده، از وضعیت خرید خود آگاه شده و تاریخچه ی سفارشات خود را مشاهده کنید.</p>
              <a href="{% url 'register' %}" class="btn btn-primary">ادامه</a> </div>
            <div class="col-sm-6">
              <h2 class="subtitle">مشتری قبلی</h2>
              <p><strong>من از قبل مشتری شما هستم</strong></p>
                <form action = ""  method="post">
                    {% csrf_token %}
                    {{ login_form }}
                    <input type="submit" value="ورود" class="btn btn-primary">
                </form>
            </div>
          </div>
        </div>
        <!--Middle Part End -->
      </div>
    </div>

{% endblock %}