{% extends 'base/base.html' %}
{% block contents %}

<div id="container">
    <div class="container">
      <!-- Breadcrumb Start-->
      <ul class="breadcrumb">
        <li><a href="index.html"><i class="fa fa-home"></i></a></li>
        <li><a href="/profile">حساب کاربری</a></li>
      </ul>
      <!-- Breadcrumb End-->
      <div class="row">
        <!--Middle Part Start-->
        <div class="col-sm-9" id="content">
          <h1 class="title">ثبت نام حساب کاربری</h1>
          <p>اگر قبلا حساب کاربریتان را ایجاد کرد اید جهت ورود به <a href="{% url 'login' %}">صفحه لاگین</a> مراجعه کنید.</p>
          <form class="form-horizontal" method="post">
                {% csrf_token %}
              {{ register_form }}

              <input type="submit" class="btn btn-primary" value="ادامه">

          </form>
        </div>
        <!--Middle Part End -->
      </div>
    </div>
  </div>


{% endblock %}